@import models.users.User
@(flights: List[models.FlightSchedule], user: User)

@main("Flight", user){
  @if(flash.containsKey("success")){
    <div class="alert alert-success">
    @flash.get("success")
    </div>
  }

  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Flight</th>
        <th>Destination</th>
        <th>Origin</th>
        <th>Departure Date</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
      </tr>
    </thead>

    <tbody>
      <h3>Flight List</h3>
      @for(f <- flights) {
        <tr>
          <td class="numeric">@f.getFlight_ID</td>
          <td>@f.getDestination</td>
          <td>@f.getOrigin</td>
          <td>@f.getDeparture_date</td>
          <td>@f.getDeparture_time</td>
          <td>@f.getArrival_time</td>
        </tr>
      }
    </tbody>
  </table>

}
