@(user: models.users.User)

@main("Home", user) {
    <div id="borders">
        <div id="iconImg">
            <div><img src="@routes.Assets.versioned("images/eat.png")" width="100%" height="auto"><p>EAT</p></div>
            <div><img src="@routes.Assets.versioned("images/play.jpg")" width="100%" height="auto"><p>PLAY</p></div>
            <div><img src="@routes.Assets.versioned("images/relax.ico")" width="100%" height="auto"><p>RELAX</p></div>
        </div>

        <div id="intro">
            <h2>Take a break from your everyday view</h2>
            <p>Enjoy your summer vacation beyond the clouds and venture to the unexplored.</p>
            <p>See the beauty and the unknown and explore more of this great planet</p>
            <p>WIDEN YOUR WORLD</p>
            <p><strong>Join Us!</strong></p>
            <p>At Irish Flights</p>
        </div>

        <div id="imageCards">
        <div class="polaroid">
            <a href="@routes.HomeController.flights()">
            <img src="@routes.Assets.versioned("images/Alicante.jpg")" alt="Alicante" width = 100% height = 200px">
            <p>Alicante, Spain</p>
            </a>
        </div>

        <div class="polaroid">
            <a href="@routes.HomeController.flights()">
            <img src="@routes.Assets.versioned("images/china.jpg")" alt="China" width = 100% height = 200px>
            <p>The Great Wall, China</p>
            </a>
        </div>

        <div class="polaroid">
            <a href="@routes.HomeController.flights()">
            <img src="@routes.Assets.versioned("images/germany.jpg")" alt="Germany" width = 100% height = 200px>
            <p>Berlin, Germany</p>
            </a>
        </div>
        </div>

        <div id="imageCards">
        <div class="polaroid">
            <a href="@routes.HomeController.flights()">
            <img src="@routes.Assets.versioned("images/france.jpg")" alt="France" width = 100% height = 200px>
            <p>Paris, France</p>
            </a>
        </div>

        <div class="polaroid">
            <a href="@routes.HomeController.flights()">
            <img src="@routes.Assets.versioned("images/romania.jpg")" alt="Romania" width = 100% height = 200px>
            <p>Bucharest, Romania</p>
            </a>
        </div>

        <div class="polaroid">
            <a href="@routes.HomeController.flights()">
            <img src="@routes.Assets.versioned("images/lithuania.jpg")" alt="Lithuania" width = 100% height = 200px>
            <p>Vilnius, Lithuania</p>
            </a>
        </div>
        </div>

        <div id="imageCards">
        <div class="polaroid">
            <a href="@routes.HomeController.flights()">
            <img src="@routes.Assets.versioned("images/hungary.jpg")" alt="Hungary" width = 100% height = 200px>
            <p>Budapest, Hungary</p>
            </a>
        </div>

        <div class="polaroid">
            <a href="@routes.HomeController.flights()">
            <img src="@routes.Assets.versioned("images/japan.jpg")" alt="Japan" width = 100% height = 200px>
            <p>Tokyo, Japan</p>
            </a>
        </div>

        <div class="polaroid">
            <a href="@routes.HomeController.flights()">
            <img src="@routes.Assets.versioned("images/italy.jpg")" alt="Italy" width = 100% height = 200px>
            <p>Rome, Italy</p>
            </a>
        </div>
        </div>

        <div id="moreFlights">
            <a href="@routes.HomeController.flights()">Find more Flights</a>
        </div>
    </div>
}
